In [2]:
#Task 1: How many users, activities and trackpoints are there in the dataset (after it isinserted into the database)

from DbConnector import DbConnector


db_connector = DbConnector(DATABASE='strava_mongoDB', HOST="localhost", USER="admin", PASSWORD="admin123")
db = db_connector.db


users_collection = db['users']
activities_collection = db['activities']


user_count = users_collection.count_documents({})
print(f"Total number of users: {user_count}")


activity_count = activities_collection.count_documents({})
print(f"Total number of activities: {activity_count}")


pipeline = [
    {"$unwind": "$trackpoints"}, 
    {"$group": {"_id": None, "totalTrackpoints": {"$sum": 1}}}  
]

trackpoint_count_result = list(activities_collection.aggregate(pipeline))


trackpoint_count = trackpoint_count_result[0]['totalTrackpoints'] if trackpoint_count_result else 0
print(f"Total number of trackpoints: {trackpoint_count}")

db_connector.close_connection()

You are connected to the database: strava_mongoDB
-----------------------------------------------

Total number of users: 182
Total number of activities: 16048
Total number of trackpoints: 9681756

-----------------------------------------------
Connection to strava_mongoDB-db is closed

In [3]:
#Task 2: Find the average number of activities per user

from DbConnector import DbConnector


db_connector = DbConnector(DATABASE='strava_mongoDB', HOST="localhost", USER="admin", PASSWORD="admin123")
db = db_connector.db


users_collection = db['users']


pipeline = [
    {
        "$project": {
            "num_activities": {"$size": "$activity_ids"}  
        }
    },
    {
        "$group": {
            "_id": None,
            "total_activities": {"$sum": "$num_activities"},  
            "total_users": {"$sum": 1}  
        }
    }
]


result = list(users_collection.aggregate(pipeline))


if result and result[0]['total_users'] > 0:
    total_activities = result[0]['total_activities']
    total_users = result[0]['total_users']
    average_activities_per_user = total_activities / total_users
    print(f"Average number of activities per user: {average_activities_per_user:.2f}")
else:
    print("No users found or no activities data.")


db_connector.close_connection()

You are connected to the database: strava_mongoDB
-----------------------------------------------

Average number of activities per user: 88.18

-----------------------------------------------
Connection to strava_mongoDB-db is closed

In [4]:
#Task 3: 
# Find the top 20 users with the highest number of activities. 


from DbConnector import DbConnector


db_connector = DbConnector(DATABASE='strava_mongoDB', HOST="localhost", USER="admin", PASSWORD="admin123")


db = db_connector.db
users_collection = db['users']
activities_collection = db['activities']


pipeline = [
    {
        "$project": {
            "_id": 1,  
            "num_activities": { "$size": "$activity_ids" }  
        }
    },
    {
        "$sort": { "num_activities": -1 }  
    },
    {
        "$limit": 20  
    }
]


top_users = list(users_collection.aggregate(pipeline))


for user in top_users:
    print(f"User ID: {user['_id']}, Number of Activities: {user['num_activities']}")

You are connected to the database: strava_mongoDB
-----------------------------------------------

User ID: 128, Number of Activities: 2102
User ID: 153, Number of Activities: 1793
User ID: 25, Number of Activities: 715
User ID: 163, Number of Activities: 704
User ID: 62, Number of Activities: 691
User ID: 144, Number of Activities: 563
User ID: 41, Number of Activities: 399
User ID: 85, Number of Activities: 364
User ID: 4, Number of Activities: 346
User ID: 140, Number of Activities: 345
User ID: 167, Number of Activities: 320
User ID: 68, Number of Activities: 280
User ID: 17, Number of Activities: 265
User ID: 3, Number of Activities: 261
User ID: 14, Number of Activities: 236
User ID: 126, Number of Activities: 215
User ID: 30, Number of Activities: 210
User ID: 112, Number of Activities: 208
User ID: 11, Number of Activities: 201
User ID: 39, Number of Activities: 198

In [5]:
# Task 4: 
# Find all users who have taken a taxi




taxi_activities = activities_collection.find({"transportation_mode": "taxi"}, {"_id": 1})


taxi_activity_ids = [activity["_id"] for activity in taxi_activities]


taxi_users = users_collection.find({"activity_ids": {"$in": taxi_activity_ids}})


print("Users who have taken a taxi:")
for user in taxi_users:
    print(f"User ID: {user['_id']}")

Users who have taken a taxi:
User ID: 10
User ID: 21
User ID: 52
User ID: 56
User ID: 58
User ID: 62
User ID: 65
User ID: 78
User ID: 80
User ID: 84
User ID: 85
User ID: 98
User ID: 111
User ID: 114
User ID: 126
User ID: 128
User ID: 139
User ID: 153
User ID: 163
User ID: 167
User ID: 175

In [6]:
# Task 5:

# Find all types of transportation modes and count how many activities that are
# tagged with these transportation mode labels. Do not count the rows where
# the mode is null.



pipeline = [
    {
        
        "$match": {"transportation_mode": {"$ne": None}}
    },
    {
        
        "$group": {
            "_id": "$transportation_mode",  
            "count": {"$sum": 1}  
        }
    },
    {
        
        "$sort": {"count": -1}
    }
]


transportation_modes = list(activities_collection.aggregate(pipeline))


print("Transportation modes and their activity counts:")
for mode in transportation_modes:
    print(f"Mode: {mode['_id']}, Count: {mode['count']}")

Transportation modes and their activity counts:
Mode: walk, Count: 1008
Mode: bike, Count: 619
Mode: car, Count: 493
Mode: bus, Count: 471
Mode: subway, Count: 190
Mode: taxi, Count: 125
Mode: airplane, Count: 4
Mode: train, Count: 2
Mode: boat, Count: 1
Mode: run, Count: 1

In [7]:
# 6a
# Find the year with the most activities


pipeline = [
    {
        "$group": {
            "_id": {"$year": "$start_date_time"},  
            "count": {"$sum": 1}  
        }
    },
    {
        "$sort": {"count": -1}  
    },
    {
        "$limit": 1  
    }
]


result = list(activities_collection.aggregate(pipeline))


if result:
    most_active_year = result[0]['_id']
    activity_count = result[0]['count']
    print(f"The year with the most activities is {most_active_year} with {activity_count} activities.")
else:
    print("No activities found.")

The year with the most activities is 2008 with 5895 activities.

In [8]:
# 6b


pipeline = [
    {
        "$addFields": {
            "duration_hours": {
                "$divide": [
                    {"$subtract": ["$end_date_time", "$start_date_time"]},
                    1000 * 60 * 60  
                ]
            }
        }
    },
    {
        "$group": {
            "_id": {"$year": "$start_date_time"},  
            "total_hours": {"$sum": "$duration_hours"},  
            "activity_count": {"$sum": 1}  
        }
    },
    {
        "$sort": {"total_hours": -1}  
    },
    {
        "$limit": 1  
    }
]


result = list(activities_collection.aggregate(pipeline))


if result:
    year_with_most_hours = result[0]['_id']
    total_hours = result[0]['total_hours']
    activity_count_in_most_hours_year = result[0]['activity_count']
    print(f"The year with the most recorded hours is {year_with_most_hours} with {total_hours} hours.")
    
    
    if most_active_year == year_with_most_hours:
        print("Yes, this is also the year with the most activities.")
    else:
        print("No, this is a different year than the year with the most activities.")
else:
    print("No activities found.")

The year with the most recorded hours is 2009 with 11612.423888888889 hours.
No, this is a different year than the year with the most activities.

In [9]:
# 7
# Find the total distance (in km) walked in 2008, by user with id=112.


user = users_collection.find_one({"_id": "112"})


if user and "activity_ids" in user:
    activity_ids = user["activity_ids"]
   
    pipeline = [
        {
            "$match": {
                "_id": {"$in": activity_ids},  
                "transportation_mode": "walk",
                "$expr": { "$eq": [{ "$year": "$start_date_time" }, 2008] }  
            }
        },
        {
            "$group": {
                "_id": None,
                "total_distance_walked_km": {"$sum": "$total_distance_km"}  
            }
        }
    ]
    
    
    result = list(activities_collection.aggregate(pipeline))
    
  
    if result:
        total_distance_walked = result[0]['total_distance_walked_km']
        print(f"The total distance walked by user 112 in 2008 is {total_distance_walked} km.")
    else:
        print("No walking activities found for user 112 in 2008.")
else:
    print("User 112 does not exist or has no associated activities.")

The total distance walked by user 112 in 2008 is 256.3828245787455 km.

In [10]:
# 8
# Find the top 20 users who have gained the most altitude meters.

pipeline = [
    {"$unwind": "$trackpoints"},
    {"$sort": {"_id": 1, "trackpoints.date_time": 1}},

   
    {
        "$group": {
            "_id": "$_id",
            "altitudes": {"$push": "$trackpoints.altitude"}
        }
    },

   
    {
        "$addFields": {
            "altitude_gain": {
                "$reduce": {
                    "input": {"$range": [1, {"$size": "$altitudes"}]},
                    "initialValue": 0,
                    "in": {
                        "$add": [
                            "$$value",
                            {
                                "$cond": [
                                    {"$gt": [
                                        {"$subtract": [
                                            {"$arrayElemAt": ["$altitudes", "$$this"]},
                                            {"$arrayElemAt": ["$altitudes", {"$subtract": ["$$this", 1]}]}
                                        ]},
                                        0
                                    ]},
                                    {
                                        "$multiply": [
                                            {"$subtract": [
                                                {"$arrayElemAt": ["$altitudes", "$$this"]},
                                                {"$arrayElemAt": ["$altitudes", {"$subtract": ["$$this", 1]}]}
                                            ]},
                                            0.3048  # Feet to meters conversion
                                        ]
                                    },
                                    0
                                ]
                            }
                        ]
                    }
                }
            }
        }
    },

  
    {
        "$lookup": {
            "from": "users",
            "localField": "_id",
            "foreignField": "activity_ids",
            "as": "user"
        }
    },
    {"$unwind": "$user"},
    {
        "$group": {
            "_id": "$user._id",
            "total_altitude_gain": {"$sum": "$altitude_gain"}
        }
    },

   
    {"$sort": {"total_altitude_gain": -1}},
    {"$limit": 20},
    {"$project": {"_id": 1, "total_altitude_gain": 1}}
]


try:
    top_altitude_gainers = activities_collection.aggregate(pipeline)
    for doc in top_altitude_gainers:
        print(f"User ID: {doc['_id']}, Total Altitude Gain: {doc['total_altitude_gain']} meters")
except Exception as e:
    print("Error running aggregation pipeline:", e)

User ID: 128, Total Altitude Gain: 578423.4656800001 meters
User ID: 153, Total Altitude Gain: 512319.2969909993 meters
User ID: 4, Total Altitude Gain: 299814.6911999981 meters
User ID: 3, Total Altitude Gain: 209375.34959999876 meters
User ID: 163, Total Altitude Gain: 194675.4086199999 meters
User ID: 85, Total Altitude Gain: 194128.73543999958 meters
User ID: 144, Total Altitude Gain: 170648.13592 meters
User ID: 30, Total Altitude Gain: 155327.90879999896 meters
User ID: 39, Total Altitude Gain: 128172.97199999948 meters
User ID: 62, Total Altitude Gain: 125512.98240000001 meters
User ID: 41, Total Altitude Gain: 123154.22663999994 meters
User ID: 84, Total Altitude Gain: 118772.02559999954 meters
User ID: 167, Total Altitude Gain: 108435.37783999987 meters
User ID: 2, Total Altitude Gain: 106698.59279999946 meters
User ID: 0, Total Altitude Gain: 105817.1111999995 meters
User ID: 25, Total Altitude Gain: 85079.67744 meters
User ID: 126, Total Altitude Gain: 77769.98647999988 meters
User ID: 140, Total Altitude Gain: 66248.13455999999 meters
User ID: 17, Total Altitude Gain: 55045.295040000005 meters
User ID: 22, Total Altitude Gain: 52798.67519999978 meters

In [11]:
# 9
# Find all users who have invalid activities, and the number of invalid activities per user 


user_invalid_activity_counts = []


for user in users_collection.find({}, {"_id": 1, "activity_ids": 1}):
    user_id = user["_id"]
    activity_ids = user.get("activity_ids", [])

    
    pipeline = [
        {
            "$match": {
                "_id": {"$in": activity_ids}  
            }
        },
        {
            "$project": {
                "trackpoints": "$trackpoints.date_time"
            }
        },
        {
            "$project": {
                "invalid_activity": {
                    "$anyElementTrue": {
                        "$map": {
                            "input": { "$range": [1, { "$size": "$trackpoints" }] },
                            "as": "idx",
                            "in": {
                                "$gte": [
                                    { "$subtract": [
                                        { "$arrayElemAt": ["$trackpoints", "$$idx"] },
                                        { "$arrayElemAt": ["$trackpoints", { "$subtract": ["$$idx", 1] }] }
                                    ] },
                                    5 * 60 * 1000  # 5 minutes in milliseconds
                                ]
                            }
                        }
                    }
                }
            }
        },
        {
            "$match": {
                "invalid_activity": True  
            }
        },
        {
            "$count": "invalid_activity_count"  
        }
    ]

   
    result = list(activities_collection.aggregate(pipeline))

    
    if result:
        invalid_count = result[0]["invalid_activity_count"]
        user_invalid_activity_counts.append({"user_id": user_id, "invalid_activity_count": invalid_count})


for user in user_invalid_activity_counts:
    print(f"User ID: {user['user_id']}, Invalid Activity Count: {user['invalid_activity_count']}")

User ID: 0, Invalid Activity Count: 101
User ID: 1, Invalid Activity Count: 45
User ID: 2, Invalid Activity Count: 98
User ID: 3, Invalid Activity Count: 179
User ID: 4, Invalid Activity Count: 219
User ID: 5, Invalid Activity Count: 45
User ID: 6, Invalid Activity Count: 17
User ID: 7, Invalid Activity Count: 30
User ID: 8, Invalid Activity Count: 16
User ID: 9, Invalid Activity Count: 31
User ID: 10, Invalid Activity Count: 50
User ID: 11, Invalid Activity Count: 32
User ID: 12, Invalid Activity Count: 43
User ID: 13, Invalid Activity Count: 29
User ID: 14, Invalid Activity Count: 118
User ID: 15, Invalid Activity Count: 46
User ID: 16, Invalid Activity Count: 20
User ID: 17, Invalid Activity Count: 129
User ID: 18, Invalid Activity Count: 27
User ID: 19, Invalid Activity Count: 31
User ID: 20, Invalid Activity Count: 20
User ID: 21, Invalid Activity Count: 7
User ID: 22, Invalid Activity Count: 55
User ID: 23, Invalid Activity Count: 11
User ID: 24, Invalid Activity Count: 27
User ID: 25, Invalid Activity Count: 263
User ID: 26, Invalid Activity Count: 18
User ID: 27, Invalid Activity Count: 2
User ID: 28, Invalid Activity Count: 36
User ID: 29, Invalid Activity Count: 25
User ID: 30, Invalid Activity Count: 112
User ID: 31, Invalid Activity Count: 3
User ID: 32, Invalid Activity Count: 12
User ID: 33, Invalid Activity Count: 2
User ID: 34, Invalid Activity Count: 88
User ID: 35, Invalid Activity Count: 23
User ID: 36, Invalid Activity Count: 34
User ID: 37, Invalid Activity Count: 100
User ID: 38, Invalid Activity Count: 58
User ID: 39, Invalid Activity Count: 147
User ID: 40, Invalid Activity Count: 17
User ID: 41, Invalid Activity Count: 201
User ID: 42, Invalid Activity Count: 55
User ID: 43, Invalid Activity Count: 21
User ID: 44, Invalid Activity Count: 32
User ID: 45, Invalid Activity Count: 7
User ID: 46, Invalid Activity Count: 13
User ID: 47, Invalid Activity Count: 6
User ID: 48, Invalid Activity Count: 1
User ID: 50, Invalid Activity Count: 8
User ID: 51, Invalid Activity Count: 36
User ID: 52, Invalid Activity Count: 44
User ID: 53, Invalid Activity Count: 7
User ID: 54, Invalid Activity Count: 2
User ID: 55, Invalid Activity Count: 15
User ID: 56, Invalid Activity Count: 7
User ID: 57, Invalid Activity Count: 16
User ID: 58, Invalid Activity Count: 13
User ID: 59, Invalid Activity Count: 5
User ID: 60, Invalid Activity Count: 1
User ID: 61, Invalid Activity Count: 12
User ID: 62, Invalid Activity Count: 249
User ID: 63, Invalid Activity Count: 8
User ID: 64, Invalid Activity Count: 7
User ID: 65, Invalid Activity Count: 26
User ID: 66, Invalid Activity Count: 6
User ID: 67, Invalid Activity Count: 33
User ID: 68, Invalid Activity Count: 139
User ID: 69, Invalid Activity Count: 6
User ID: 70, Invalid Activity Count: 5
User ID: 71, Invalid Activity Count: 29
User ID: 72, Invalid Activity Count: 2
User ID: 73, Invalid Activity Count: 18
User ID: 74, Invalid Activity Count: 19
User ID: 75, Invalid Activity Count: 6
User ID: 76, Invalid Activity Count: 8
User ID: 77, Invalid Activity Count: 3
User ID: 78, Invalid Activity Count: 19
User ID: 79, Invalid Activity Count: 2
User ID: 80, Invalid Activity Count: 6
User ID: 81, Invalid Activity Count: 16
User ID: 82, Invalid Activity Count: 27
User ID: 83, Invalid Activity Count: 15
User ID: 84, Invalid Activity Count: 99
User ID: 85, Invalid Activity Count: 184
User ID: 86, Invalid Activity Count: 5
User ID: 87, Invalid Activity Count: 3
User ID: 88, Invalid Activity Count: 11
User ID: 89, Invalid Activity Count: 40
User ID: 90, Invalid Activity Count: 3
User ID: 91, Invalid Activity Count: 63
User ID: 92, Invalid Activity Count: 101
User ID: 93, Invalid Activity Count: 4
User ID: 94, Invalid Activity Count: 16
User ID: 95, Invalid Activity Count: 4
User ID: 96, Invalid Activity Count: 35
User ID: 97, Invalid Activity Count: 14
User ID: 98, Invalid Activity Count: 5
User ID: 99, Invalid Activity Count: 11
User ID: 100, Invalid Activity Count: 3
User ID: 101, Invalid Activity Count: 46
User ID: 102, Invalid Activity Count: 13
User ID: 103, Invalid Activity Count: 24
User ID: 104, Invalid Activity Count: 97
User ID: 105, Invalid Activity Count: 9
User ID: 106, Invalid Activity Count: 3
User ID: 107, Invalid Activity Count: 1
User ID: 108, Invalid Activity Count: 5
User ID: 109, Invalid Activity Count: 3
User ID: 110, Invalid Activity Count: 17
User ID: 111, Invalid Activity Count: 26
User ID: 112, Invalid Activity Count: 67
User ID: 113, Invalid Activity Count: 1
User ID: 114, Invalid Activity Count: 3
User ID: 115, Invalid Activity Count: 58
User ID: 117, Invalid Activity Count: 3
User ID: 118, Invalid Activity Count: 3
User ID: 119, Invalid Activity Count: 22
User ID: 121, Invalid Activity Count: 4
User ID: 122, Invalid Activity Count: 6
User ID: 123, Invalid Activity Count: 3
User ID: 124, Invalid Activity Count: 4
User ID: 125, Invalid Activity Count: 25
User ID: 126, Invalid Activity Count: 105
User ID: 127, Invalid Activity Count: 4
User ID: 128, Invalid Activity Count: 720
User ID: 129, Invalid Activity Count: 6
User ID: 130, Invalid Activity Count: 8
User ID: 131, Invalid Activity Count: 10
User ID: 132, Invalid Activity Count: 3
User ID: 133, Invalid Activity Count: 4
User ID: 134, Invalid Activity Count: 31
User ID: 135, Invalid Activity Count: 5
User ID: 136, Invalid Activity Count: 6
User ID: 138, Invalid Activity Count: 10
User ID: 139, Invalid Activity Count: 12
User ID: 140, Invalid Activity Count: 86
User ID: 141, Invalid Activity Count: 1
User ID: 142, Invalid Activity Count: 52
User ID: 144, Invalid Activity Count: 157
User ID: 145, Invalid Activity Count: 5
User ID: 146, Invalid Activity Count: 7
User ID: 147, Invalid Activity Count: 30
User ID: 150, Invalid Activity Count: 16
User ID: 151, Invalid Activity Count: 1
User ID: 152, Invalid Activity Count: 2
User ID: 153, Invalid Activity Count: 557
User ID: 154, Invalid Activity Count: 14
User ID: 155, Invalid Activity Count: 30
User ID: 157, Invalid Activity Count: 9
User ID: 158, Invalid Activity Count: 9
User ID: 159, Invalid Activity Count: 5
User ID: 161, Invalid Activity Count: 7
User ID: 162, Invalid Activity Count: 9
User ID: 163, Invalid Activity Count: 233
User ID: 164, Invalid Activity Count: 6
User ID: 165, Invalid Activity Count: 2
User ID: 166, Invalid Activity Count: 2
User ID: 167, Invalid Activity Count: 134
User ID: 168, Invalid Activity Count: 19
User ID: 169, Invalid Activity Count: 9
User ID: 170, Invalid Activity Count: 2
User ID: 171, Invalid Activity Count: 3
User ID: 172, Invalid Activity Count: 9
User ID: 173, Invalid Activity Count: 5
User ID: 174, Invalid Activity Count: 54
User ID: 175, Invalid Activity Count: 4
User ID: 176, Invalid Activity Count: 8
User ID: 179, Invalid Activity Count: 28
User ID: 180, Invalid Activity Count: 2
User ID: 181, Invalid Activity Count: 14

In [12]:
# 10 
# Find the users who have tracked an activity in the Forbidden City of Beijing. 


# Define the latitude and longitude range for Forbidden City (±0.001 tolerance)
lat_range = [39.916 - 0.001, 39.916 + 0.001]
lon_range = [116.397 - 0.001, 116.397 + 0.001]


pipeline = [
    {
        "$match": {
            "trackpoints": {
                "$elemMatch": {
                    "lat": { "$gte": lat_range[0], "$lte": lat_range[1] },
                    "lon": { "$gte": lon_range[0], "$lte": lon_range[1] }
                }
            }
        }
    },
    {
        "$lookup": {
            "from": "users",
            "localField": "_id",
            "foreignField": "activity_ids",
            "as": "user_data"
        }
    },
    {
        "$unwind": "$user_data"  
    },
    {
        "$group": {
            "_id": "$user_data._id"  
        }
    }
]


result = list(activities_collection.aggregate(pipeline))


if result:
    print("Users who have tracked an activity near the Forbidden City:")
    for user in result:
        print(f"User ID: {user['_id']}")
else:
    print("No users have tracked activities near the Forbidden City.")

Users who have tracked an activity near the Forbidden City:
User ID: 19
User ID: 131
User ID: 18
User ID: 4

In [13]:
# 11.Find all users who have registered transportation_mode and their most used transportation_mode


pipeline = [
    
    {
        "$match": {
            "transportation_mode": {"$ne": None}
        }
    },
    
    {
        "$lookup": {
            "from": "users",
            "localField": "_id",  
            "foreignField": "activity_ids",  
            "as": "user"
        }
    },
   
    {
        "$unwind": "$user"
    },
    
    {
        "$group": {
            "_id": {
                "user_id": "$user._id",
                "transportation_mode": "$transportation_mode"
            },
            "mode_count": {"$sum": 1}
        }
    },
    # Sort each user_id's transportation_mode count in descending order of usage count,
    # then by transportation_mode alphabetically to handle ties
    {
        "$sort": {
            "_id.user_id": 1,
            "mode_count": -1,
            "_id.transportation_mode": 1
        }
    },
    # Group by user_id to get the most used transportation mode (alphabetical in case of tie)
    {
        "$group": {
            "_id": "$_id.user_id",
            "most_used_transportation_mode": {"$first": "$_id.transportation_mode"}
        }
    },
    
    {
        "$project": {
            "_id": 1,
            "most_used_transportation_mode": 1
        }
    }
]


most_used_transportation_modes = activities_collection.aggregate(pipeline)

for doc in most_used_transportation_modes:
    print(f"User ID: {doc['_id']}, Most Used Transportation Mode: {doc['most_used_transportation_mode']}")

User ID: 52, Most Used Transportation Mode: bus
User ID: 167, Most Used Transportation Mode: bike
User ID: 101, Most Used Transportation Mode: car
User ID: 114, Most Used Transportation Mode: taxi
User ID: 60, Most Used Transportation Mode: walk
User ID: 138, Most Used Transportation Mode: bike
User ID: 141, Most Used Transportation Mode: walk
User ID: 89, Most Used Transportation Mode: car
User ID: 117, Most Used Transportation Mode: walk
User ID: 82, Most Used Transportation Mode: walk
User ID: 81, Most Used Transportation Mode: bike
User ID: 161, Most Used Transportation Mode: walk
User ID: 153, Most Used Transportation Mode: walk
User ID: 20, Most Used Transportation Mode: bike
User ID: 53, Most Used Transportation Mode: walk
User ID: 56, Most Used Transportation Mode: bike
User ID: 92, Most Used Transportation Mode: walk
User ID: 10, Most Used Transportation Mode: taxi
User ID: 144, Most Used Transportation Mode: walk
User ID: 102, Most Used Transportation Mode: walk
User ID: 97, Most Used Transportation Mode: bike
User ID: 84, Most Used Transportation Mode: bus
User ID: 136, Most Used Transportation Mode: walk
User ID: 80, Most Used Transportation Mode: taxi
User ID: 86, Most Used Transportation Mode: car
User ID: 105, Most Used Transportation Mode: walk
User ID: 107, Most Used Transportation Mode: walk
User ID: 78, Most Used Transportation Mode: walk
User ID: 108, Most Used Transportation Mode: walk
User ID: 170, Most Used Transportation Mode: walk
User ID: 126, Most Used Transportation Mode: walk
User ID: 179, Most Used Transportation Mode: walk
User ID: 129, Most Used Transportation Mode: bike
User ID: 139, Most Used Transportation Mode: bike
User ID: 115, Most Used Transportation Mode: car
User ID: 125, Most Used Transportation Mode: bike
User ID: 73, Most Used Transportation Mode: walk
User ID: 68, Most Used Transportation Mode: bike
User ID: 112, Most Used Transportation Mode: walk
User ID: 91, Most Used Transportation Mode: walk
User ID: 128, Most Used Transportation Mode: car
User ID: 58, Most Used Transportation Mode: walk
User ID: 111, Most Used Transportation Mode: taxi
User ID: 67, Most Used Transportation Mode: walk
User ID: 87, Most Used Transportation Mode: walk
User ID: 75, Most Used Transportation Mode: subway
User ID: 62, Most Used Transportation Mode: walk
User ID: 21, Most Used Transportation Mode: car
User ID: 76, Most Used Transportation Mode: car
User ID: 175, Most Used Transportation Mode: bus
User ID: 65, Most Used Transportation Mode: bike
User ID: 85, Most Used Transportation Mode: walk
User ID: 69, Most Used Transportation Mode: bike
User ID: 96, Most Used Transportation Mode: bike
User ID: 98, Most Used Transportation Mode: taxi
User ID: 64, Most Used Transportation Mode: bike
User ID: 163, Most Used Transportation Mode: bike

In [17]:
from pprint import pprint 

# Show the first 10 documents in Activity Collection
first_10_users = users_collection.find().limit(10)

for user in first_10_users:
    pprint(user)

{'_id': '0',
 'activity_ids': ['1',
                  '2',
                  '3',
                  '4',
                  '5',
                  '6',
                  '7',
                  '8',
                  '9',
                  '10',
                  '11',
                  '12',
                  '13',
                  '14',
                  '15',
                  '16',
                  '17',
                  '18',
                  '19',
                  '20',
                  '21',
                  '22',
                  '23',
                  '24',
                  '25',
                  '26',
                  '27',
                  '28',
                  '29',
                  '30',
                  '31',
                  '32',
                  '33',
                  '34',
                  '35',
                  '36',
                  '37',
                  '38',
                  '39',
                  '40',
                  '41',
                  '42',
                  '43',
                  '44',
                  '45',
                  '46',
                  '47',
                  '48',
                  '49',
                  '50',
                  '51',
                  '52',
                  '53',
                  '54',
                  '55',
                  '56',
                  '57',
                  '58',
                  '59',
                  '60',
                  '61',
                  '62',
                  '63',
                  '64',
                  '65',
                  '66',
                  '67',
                  '68',
                  '69',
                  '70',
                  '71',
                  '72',
                  '73',
                  '74',
                  '75',
                  '76',
                  '77',
                  '78',
                  '79',
                  '80',
                  '81',
                  '82',
                  '83',
                  '84',
                  '85',
                  '86',
                  '87',
                  '88',
                  '89',
                  '90',
                  '91',
                  '92',
                  '93',
                  '94',
                  '95',
                  '96',
                  '97',
                  '98',
                  '99',
                  '100',
                  '101',
                  '102',
                  '103',
                  '104',
                  '105',
                  '106',
                  '107',
                  '108',
                  '109',
                  '110',
                  '111',
                  '112',
                  '113',
                  '114',
                  '115',
                  '116',
                  '117',
                  '118',
                  '119',
                  '120',
                  '121',
                  '122',
                  '123',
                  '124',
                  '125',
                  '126',
                  '127',
                  '128',
                  '129',
                  '130',
                  '131',
                  '132',
                  '133',
                  '134',
                  '135',
                  '136',
                  '137',
                  '138',
                  '139',
                  '140',
                  '141',
                  '142',
                  '143',
                  '144',
                  '145',
                  '146',
                  '147',
                  '148',
                  '149',
                  '150',
                  '151',
                  '152',
                  '153',
                  '154',
                  '155'],
 'has_labels': False}
{'_id': '1',
 'activity_ids': ['156',
                  '157',
                  '158',
                  '159',
                  '160',
                  '161',
                  '162',
                  '163',
                  '164',
                  '165',
                  '166',
                  '167',
                  '168',
                  '169',
                  '170',
                  '171',
                  '172',
                  '173',
                  '174',
                  '175',
                  '176',
                  '177',
                  '178',
                  '179',
                  '180',
                  '181',
                  '182',
                  '183',
                  '184',
                  '185',
                  '186',
                  '187',
                  '188',
                  '189',
                  '190',
                  '191',
                  '192',
                  '193',
                  '194',
                  '195',
                  '196',
                  '197',
                  '198',
                  '199',
                  '200',
                  '201',
                  '202',
                  '203',
                  '204',
                  '205',
                  '206',
                  '207',
                  '208',
                  '209',
                  '210',
                  '211',
                  '212'],
 'has_labels': False}
{'_id': '2',
 'activity_ids': ['213',
                  '214',
                  '215',
                  '216',
                  '217',
                  '218',
                  '219',
                  '220',
                  '221',
                  '222',
                  '223',
                  '224',
                  '225',
                  '226',
                  '227',
                  '228',
                  '229',
                  '230',
                  '231',
                  '232',
                  '233',
                  '234',
                  '235',
                  '236',
                  '237',
                  '238',
                  '239',
                  '240',
                  '241',
                  '242',
                  '243',
                  '244',
                  '245',
                  '246',
                  '247',
                  '248',
                  '249',
                  '250',
                  '251',
                  '252',
                  '253',
                  '254',
                  '255',
                  '256',
                  '257',
                  '258',
                  '259',
                  '260',
                  '261',
                  '262',
                  '263',
                  '264',
                  '265',
                  '266',
                  '267',
                  '268',
                  '269',
                  '270',
                  '271',
                  '272',
                  '273',
                  '274',
                  '275',
                  '276',
                  '277',
                  '278',
                  '279',
                  '280',
                  '281',
                  '282',
                  '283',
                  '284',
                  '285',
                  '286',
                  '287',
                  '288',
                  '289',
                  '290',
                  '291',
                  '292',
                  '293',
                  '294',
                  '295',
                  '296',
                  '297',
                  '298',
                  '299',
                  '300',
                  '301',
                  '302',
                  '303',
                  '304',
                  '305',
                  '306',
                  '307',
                  '308',
                  '309',
                  '310',
                  '311',
                  '312',
                  '313',
                  '314',
                  '315',
                  '316',
                  '317',
                  '318',
                  '319',
                  '320',
                  '321',
                  '322',
                  '323',
                  '324',
                  '325',
                  '326',
                  '327',
                  '328',
                  '329',
                  '330',
                  '331',
                  '332',
                  '333',
                  '334',
                  '335',
                  '336',
                  '337',
                  '338',
                  '339',
                  '340',
                  '341',
                  '342',
                  '343',
                  '344',
                  '345',
                  '346',
                  '347',
                  '348',
                  '349',
                  '350',
                  '351',
                  '352',
                  '353',
                  '354',
                  '355',
                  '356',
                  '357',
                  '358'],
 'has_labels': False}
{'_id': '3',
 'activity_ids': ['359',
                  '360',
                  '361',
                  '362',
                  '363',
                  '364',
                  '365',
                  '366',
                  '367',
                  '368',
                  '369',
                  '370',
                  '371',
                  '372',
                  '373',
                  '374',
                  '375',
                  '376',
                  '377',
                  '378',
                  '379',
                  '380',
                  '381',
                  '382',
                  '383',
                  '384',
                  '385',
                  '386',
                  '387',
                  '388',
                  '389',
                  '390',
                  '391',
                  '392',
                  '393',
                  '394',
                  '395',
                  '396',
                  '397',
                  '398',
                  '399',
                  '400',
                  '401',
                  '402',
                  '403',
                  '404',
                  '405',
                  '406',
                  '407',
                  '408',
                  '409',
                  '410',
                  '411',
                  '412',
                  '413',
                  '414',
                  '415',
                  '416',
                  '417',
                  '418',
                  '419',
                  '420',
                  '421',
                  '422',
                  '423',
                  '424',
                  '425',
                  '426',
                  '427',
                  '428',
                  '429',
                  '430',
                  '431',
                  '432',
                  '433',
                  '434',
                  '435',
                  '436',
                  '437',
                  '438',
                  '439',
                  '440',
                  '441',
                  '442',
                  '443',
                  '444',
                  '445',
                  '446',
                  '447',
                  '448',
                  '449',
                  '450',
                  '451',
                  '452',
                  '453',
                  '454',
                  '455',
                  '456',
                  '457',
                  '458',
                  '459',
                  '460',
                  '461',
                  '462',
                  '463',
                  '464',
                  '465',
                  '466',
                  '467',
                  '468',
                  '469',
                  '470',
                  '471',
                  '472',
                  '473',
                  '474',
                  '475',
                  '476',
                  '477',
                  '478',
                  '479',
                  '480',
                  '481',
                  '482',
                  '483',
                  '484',
                  '485',
                  '486',
                  '487',
                  '488',
                  '489',
                  '490',
                  '491',
                  '492',
                  '493',
                  '494',
                  '495',
                  '496',
                  '497',
                  '498',
                  '499',
                  '500',
                  '501',
                  '502',
                  '503',
                  '504',
                  '505',
                  '506',
                  '507',
                  '508',
                  '509',
                  '510',
                  '511',
                  '512',
                  '513',
                  '514',
                  '515',
                  '516',
                  '517',
                  '518',
                  '519',
                  '520',
                  '521',
                  '522',
                  '523',
                  '524',
                  '525',
                  '526',
                  '527',
                  '528',
                  '529',
                  '530',
                  '531',
                  '532',
                  '533',
                  '534',
                  '535',
                  '536',
                  '537',
                  '538',
                  '539',
                  '540',
                  '541',
                  '542',
                  '543',
                  '544',
                  '545',
                  '546',
                  '547',
                  '548',
                  '549',
                  '550',
                  '551',
                  '552',
                  '553',
                  '554',
                  '555',
                  '556',
                  '557',
                  '558',
                  '559',
                  '560',
                  '561',
                  '562',
                  '563',
                  '564',
                  '565',
                  '566',
                  '567',
                  '568',
                  '569',
                  '570',
                  '571',
                  '572',
                  '573',
                  '574',
                  '575',
                  '576',
                  '577',
                  '578',
                  '579',
                  '580',
                  '581',
                  '582',
                  '583',
                  '584',
                  '585',
                  '586',
                  '587',
                  '588',
                  '589',
                  '590',
                  '591',
                  '592',
                  '593',
                  '594',
                  '595',
                  '596',
                  '597',
                  '598',
                  '599',
                  '600',
                  '601',
                  '602',
                  '603',
                  '604',
                  '605',
                  '606',
                  '607',
                  '608',
                  '609',
                  '610',
                  '611',
                  '612',
                  '613',
                  '614',
                  '615',
                  '616',
                  '617',
                  '618',
                  '619'],
 'has_labels': False}
{'_id': '4',
 'activity_ids': ['620',
                  '621',
                  '622',
                  '623',
                  '624',
                  '625',
                  '626',
                  '627',
                  '628',
                  '629',
                  '630',
                  '631',
                  '632',
                  '633',
                  '634',
                  '635',
                  '636',
                  '637',
                  '638',
                  '639',
                  '640',
                  '641',
                  '642',
                  '643',
                  '644',
                  '645',
                  '646',
                  '647',
                  '648',
                  '649',
                  '650',
                  '651',
                  '652',
                  '653',
                  '654',
                  '655',
                  '656',
                  '657',
                  '658',
                  '659',
                  '660',
                  '661',
                  '662',
                  '663',
                  '664',
                  '665',
                  '666',
                  '667',
                  '668',
                  '669',
                  '670',
                  '671',
                  '672',
                  '673',
                  '674',
                  '675',
                  '676',
                  '677',
                  '678',
                  '679',
                  '680',
                  '681',
                  '682',
                  '683',
                  '684',
                  '685',
                  '686',
                  '687',
                  '688',
                  '689',
                  '690',
                  '691',
                  '692',
                  '693',
                  '694',
                  '695',
                  '696',
                  '697',
                  '698',
                  '699',
                  '700',
                  '701',
                  '702',
                  '703',
                  '704',
                  '705',
                  '706',
                  '707',
                  '708',
                  '709',
                  '710',
                  '711',
                  '712',
                  '713',
                  '714',
                  '715',
                  '716',
                  '717',
                  '718',
                  '719',
                  '720',
                  '721',
                  '722',
                  '723',
                  '724',
                  '725',
                  '726',
                  '727',
                  '728',
                  '729',
                  '730',
                  '731',
                  '732',
                  '733',
                  '734',
                  '735',
                  '736',
                  '737',
                  '738',
                  '739',
                  '740',
                  '741',
                  '742',
                  '743',
                  '744',
                  '745',
                  '746',
                  '747',
                  '748',
                  '749',
                  '750',
                  '751',
                  '752',
                  '753',
                  '754',
                  '755',
                  '756',
                  '757',
                  '758',
                  '759',
                  '760',
                  '761',
                  '762',
                  '763',
                  '764',
                  '765',
                  '766',
                  '767',
                  '768',
                  '769',
                  '770',
                  '771',
                  '772',
                  '773',
                  '774',
                  '775',
                  '776',
                  '777',
                  '778',
                  '779',
                  '780',
                  '781',
                  '782',
                  '783',
                  '784',
                  '785',
                  '786',
                  '787',
                  '788',
                  '789',
                  '790',
                  '791',
                  '792',
                  '793',
                  '794',
                  '795',
                  '796',
                  '797',
                  '798',

In [18]:
# Show the first 10 documents in Activity Collection
first_10_activities = activities_collection.find().limit(10)

for activity in first_10_activities:
    pprint(activity)

{'_id': '1',
 'end_date_time': datetime.datetime(2008, 10, 23, 11, 11, 12),
 'start_date_time': datetime.datetime(2008, 10, 23, 2, 53, 4),
 'total_distance_km': 14.938642126842497,
 'trackpoints': [{'_id': 1,
                  'altitude': 492.0,
                  'date_days': 39744.1201851852,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 4),
                  'lat': 39.984702,
                  'lon': 116.318417},
                 {'_id': 2,
                  'altitude': 492.0,
                  'date_days': 39744.1202546296,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 10),
                  'lat': 39.984683,
                  'lon': 116.31845},
                 {'_id': 3,
                  'altitude': 492.0,
                  'date_days': 39744.1203125,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 15),
                  'lat': 39.984686,
                  'lon': 116.318417},
                 {'_id': 4,
                  'altitude': 492.0,
                  'date_days': 39744.1203703704,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 20),
                  'lat': 39.984688,
                  'lon': 116.318385},
                 {'_id': 5,
                  'altitude': 492.0,
                  'date_days': 39744.1204282407,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 25),
                  'lat': 39.984655,
                  'lon': 116.318263},
                 {'_id': 6,
                  'altitude': 493.0,
                  'date_days': 39744.1204861111,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 30),
                  'lat': 39.984611,
                  'lon': 116.318026},
                 {'_id': 7,
                  'altitude': 493.0,
                  'date_days': 39744.1205439815,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 35),
                  'lat': 39.984608,
                  'lon': 116.317761},
                 {'_id': 8,
                  'altitude': 496.0,
                  'date_days': 39744.1206018519,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 40),
                  'lat': 39.984563,
                  'lon': 116.317517},
                 {'_id': 9,
                  'altitude': 500.0,
                  'date_days': 39744.1206597222,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 45),
                  'lat': 39.984539,
                  'lon': 116.317294},
                 {'_id': 10,
                  'altitude': 505.0,
                  'date_days': 39744.1207175926,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 50),
                  'lat': 39.984606,
                  'lon': 116.317065},
                 {'_id': 11,
                  'altitude': 510.0,
                  'date_days': 39744.120775463,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 53, 55),
                  'lat': 39.984568,
                  'lon': 116.316911},
                 {'_id': 12,
                  'altitude': 515.0,
                  'date_days': 39744.1208333333,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54),
                  'lat': 39.984586,
                  'lon': 116.316716},
                 {'_id': 13,
                  'altitude': 520.0,
                  'date_days': 39744.1208912037,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 5),
                  'lat': 39.984561,
                  'lon': 116.316527},
                 {'_id': 14,
                  'altitude': 525.0,
                  'date_days': 39744.1209490741,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 10),
                  'lat': 39.984536,
                  'lon': 116.316354},
                 {'_id': 15,
                  'altitude': 531.0,
                  'date_days': 39744.1210069444,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 15),
                  'lat': 39.984523,
                  'lon': 116.316188},
                 {'_id': 16,
                  'altitude': 536.0,
                  'date_days': 39744.1210648148,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 20),
                  'lat': 39.984516,
                  'lon': 116.315963},
                 {'_id': 17,
                  'altitude': 541.0,
                  'date_days': 39744.1211226852,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 25),
                  'lat': 39.984523,
                  'lon': 116.315823},
                 {'_id': 18,
                  'altitude': 546.0,
                  'date_days': 39744.1211805556,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 30),
                  'lat': 39.984574,
                  'lon': 116.315611},
                 {'_id': 19,
                  'altitude': 551.0,
                  'date_days': 39744.1212384259,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 35),
                  'lat': 39.984568,
                  'lon': 116.315407},
                 {'_id': 20,
                  'altitude': 556.0,
                  'date_days': 39744.1212962963,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 40),
                  'lat': 39.984538,
                  'lon': 116.315148},
                 {'_id': 21,
                  'altitude': 560.0,
                  'date_days': 39744.1213541667,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 45),
                  'lat': 39.984501,
                  'lon': 116.314907},
                 {'_id': 22,
                  'altitude': 564.0,
                  'date_days': 39744.121412037,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 50),
                  'lat': 39.984532,
                  'lon': 116.314808},
                 {'_id': 23,
                  'altitude': 569.0,
                  'date_days': 39744.1214699074,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 54, 55),
                  'lat': 39.984504,
                  'lon': 116.314625},
                 {'_id': 24,
                  'altitude': 574.0,
                  'date_days': 39744.1215277778,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55),
                  'lat': 39.984485,
                  'lon': 116.314426},
                 {'_id': 25,
                  'altitude': 579.0,
                  'date_days': 39744.1215856481,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 5),
                  'lat': 39.984427,
                  'lon': 116.31424},
                 {'_id': 26,
                  'altitude': 584.0,
                  'date_days': 39744.1216435185,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 10),
                  'lat': 39.984485,
                  'lon': 116.314042},
                 {'_id': 27,
                  'altitude': 589.0,
                  'date_days': 39744.1217013889,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 15),
                  'lat': 39.98448,
                  'lon': 116.313818},
                 {'_id': 28,
                  'altitude': 595.0,
                  'date_days': 39744.1217592593,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 20),
                  'lat': 39.984501,
                  'lon': 116.313659},
                 {'_id': 29,
                  'altitude': 113.0,
                  'date_days': 39744.1218171296,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 25),
                  'lat': 39.984618,
                  'lon': 116.314323},
                 {'_id': 30,
                  'altitude': 117.0,
                  'date_days': 39744.121875,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 30),
                  'lat': 39.984649,
                  'lon': 116.314107},
                 {'_id': 31,
                  'altitude': 121.0,
                  'date_days': 39744.1219328704,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 35),
                  'lat': 39.984621,
                  'lon': 116.313941},
                 {'_id': 32,
                  'altitude': 126.0,
                  'date_days': 39744.1219907407,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 40),
                  'lat': 39.984655,
                  'lon': 116.313724},
                 {'_id': 33,
                  'altitude': 129.0,
                  'date_days': 39744.1220486111,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 45),
                  'lat': 39.984681,
                  'lon': 116.313521},
                 {'_id': 34,
                  'altitude': 133.0,
                  'date_days': 39744.1221064815,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 50),
                  'lat': 39.984708,
                  'lon': 116.313311},
                 {'_id': 35,
                  'altitude': 137.0,
                  'date_days': 39744.1221643519,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 55, 55),
                  'lat': 39.984708,
                  'lon': 116.313099},
                 {'_id': 36,
                  'altitude': 144.0,
                  'date_days': 39744.1222222222,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56),
                  'lat': 39.984696,
                  'lon': 116.312921},
                 {'_id': 37,
                  'altitude': 153.0,
                  'date_days': 39744.1222800926,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 5),
                  'lat': 39.984677,
                  'lon': 116.312746},
                 {'_id': 38,
                  'altitude': 155.0,
                  'date_days': 39744.122337963,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 10),
                  'lat': 39.984682,
                  'lon': 116.312525},
                 {'_id': 39,
                  'altitude': 158.0,
                  'date_days': 39744.1223958333,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 15),
                  'lat': 39.984649,
                  'lon': 116.312332},
                 {'_id': 40,
                  'altitude': 164.0,
                  'date_days': 39744.1224537037,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 20),
                  'lat': 39.984641,
                  'lon': 116.312123},
                 {'_id': 41,
                  'altitude': 170.0,
                  'date_days': 39744.1225115741,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 25),
                  'lat': 39.984647,
                  'lon': 116.311917},
                 {'_id': 42,
                  'altitude': 178.0,
                  'date_days': 39744.1225694444,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 30),
                  'lat': 39.984654,
                  'lon': 116.31172},
                 {'_id': 43,
                  'altitude': 180.0,
                  'date_days': 39744.1226273148,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 35),
                  'lat': 39.984631,
                  'lon': 116.311569},
                 {'_id': 44,
                  'altitude': 184.0,
                  'date_days': 39744.1226851852,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 40),
                  'lat': 39.984647,
                  'lon': 116.31138},
                 {'_id': 45,
                  'altitude': 194.0,
                  'date_days': 39744.1227430556,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 45),
                  'lat': 39.984653,
                  'lon': 116.311189},
                 {'_id': 46,
                  'altitude': 206.0,
                  'date_days': 39744.1228009259,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 50),
                  'lat': 39.984628,
                  'lon': 116.311026},
                 {'_id': 47,
                  'altitude': 214.0,
                  'date_days': 39744.1228587963,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 56, 55),
                  'lat': 39.984652,
                  'lon': 116.310854},
                 {'_id': 48,
                  'altitude': 222.0,
                  'date_days': 39744.1229166667,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57),
                  'lat': 39.984656,
                  'lon': 116.31066},
                 {'_id': 49,
                  'altitude': 231.0,
                  'date_days': 39744.122974537,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 5),
                  'lat': 39.984616,
                  'lon': 116.310534},
                 {'_id': 50,
                  'altitude': 235.0,
                  'date_days': 39744.1230324074,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 10),
                  'lat': 39.984676,
                  'lon': 116.31033},
                 {'_id': 51,
                  'altitude': 242.0,
                  'date_days': 39744.1230902778,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 15),
                  'lat': 39.984698,
                  'lon': 116.310063},
                 {'_id': 52,
                  'altitude': 250.0,
                  'date_days': 39744.1231481481,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 20),
                  'lat': 39.984696,
                  'lon': 116.309937},
                 {'_id': 53,
                  'altitude': 260.0,
                  'date_days': 39744.1232060185,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 25),
                  'lat': 39.984663,
                  'lon': 116.309851},
                 {'_id': 54,
                  'altitude': 266.0,
                  'date_days': 39744.1232638889,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 30),
                  'lat': 39.984598,
                  'lon': 116.309749},
                 {'_id': 55,
                  'altitude': 270.0,
                  'date_days': 39744.1233217593,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 35),
                  'lat': 39.98454,
                  'lon': 116.309656},
                 {'_id': 56,
                  'altitude': 271.0,
                  'date_days': 39744.1233796296,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 40),
                  'lat': 39.984525,
                  'lon': 116.309503},
                 {'_id': 57,
                  'altitude': 270.0,
                  'date_days': 39744.1234375,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 45),
                  'lat': 39.984498,
                  'lon': 116.309348},
                 {'_id': 58,
                  'altitude': 265.0,
                  'date_days': 39744.1234953704,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 50),
                  'lat': 39.984481,
                  'lon': 116.309173},
                 {'_id': 59,
                  'altitude': 261.0,
                  'date_days': 39744.1235532407,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 57, 55),
                  'lat': 39.984489,
                  'lon': 116.308993},
                 {'_id': 60,
                  'altitude': 257.0,
                  'date_days': 39744.1236111111,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58),
                  'lat': 39.98447,
                  'lon': 116.308827},
                 {'_id': 61,
                  'altitude': 251.0,
                  'date_days': 39744.1236689815,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 5),
                  'lat': 39.98449,
                  'lon': 116.308638},
                 {'_id': 62,
                  'altitude': 247.0,
                  'date_days': 39744.1237268519,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 10),
                  'lat': 39.98449,
                  'lon': 116.308485},
                 {'_id': 63,
                  'altitude': 240.0,
                  'date_days': 39744.1237847222,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 15),
                  'lat': 39.984494,
                  'lon': 116.308351},
                 {'_id': 64,
                  'altitude': 240.0,
                  'date_days': 39744.1238425926,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 20),
                  'lat': 39.984499,
                  'lon': 116.308201},
                 {'_id': 65,
                  'altitude': 244.0,
                  'date_days': 39744.123900463,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 25),
                  'lat': 39.984484,
                  'lon': 116.308049},
                 {'_id': 66,
                  'altitude': 253.0,
                  'date_days': 39744.1239583333,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 30),
                  'lat': 39.984491,
                  'lon': 116.307902},
                 {'_id': 67,
                  'altitude': 264.0,
                  'date_days': 39744.1240162037,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 35),
                  'lat': 39.984499,
                  'lon': 116.307809},
                 {'_id': 68,
                  'altitude': 272.0,
                  'date_days': 39744.1240740741,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 40),
                  'lat': 39.984472,
                  'lon': 116.307687},
                 {'_id': 69,
                  'altitude': 279.0,
                  'date_days': 39744.1241319444,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 45),
                  'lat': 39.984493,
                  'lon': 116.307548},
                 {'_id': 70,
                  'altitude': 282.0,
                  'date_days': 39744.1241898148,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 50),
                  'lat': 39.984488,
                  'lon': 116.307434},
                 {'_id': 71,
                  'altitude': 281.0,
                  'date_days': 39744.1242476852,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 58, 55),
                  'lat': 39.984427,
                  'lon': 116.307292},
                 {'_id': 72,
                  'altitude': 282.0,
                  'date_days': 39744.1243055556,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 59),
                  'lat': 39.984428,
                  'lon': 116.307126},
                 {'_id': 73,
                  'altitude': 288.0,
                  'date_days': 39744.1243634259,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 59, 5),
                  'lat': 39.984432,
                  'lon': 116.306943},
                 {'_id': 74,
                  'altitude': 284.0,
                  'date_days': 39744.1244212963,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 59, 10),
                  'lat': 39.984425,
                  'lon': 116.306801},
                 {'_id': 75,
                  'altitude': 286.0,
                  'date_days': 39744.1244791667,
                  'date_time': datetime.datetime(2008, 10, 23, 2, 59, 15),
                  'lat': 39.984438,
                  'lon': 116.306633},
                 {'_id': 76,
                  'altitude': 284.0,